button.cart-btn {
  background-color: transparent;
  align-self: center;
  position: relative;
  display: grid;
  place-content: center;
  z-index: 3;
}

.cart-btn svg {
  fill: var(--gray-800);
  width: 2.2rem;
}

.cart-btn > span {
  border-radius: 16px;
  color: white;
  font-size: 0.8rem;
  font-weight: 700;
  padding: 0.25rem 0.4rem 0.42rem;
  line-height: 1;
  
  position: absolute;
  bottom: 4px;
  right: 3px;
  translate: 50% 50%;

  display: grid;
  place-items: center;
}

/* cart modal */

div.cart-modal {
  padding: 1.2rem 1.4rem;
  right: var(--padding-horiz);
}

.cart-modal > div.table {
  margin-bottom: 0.8rem;
}

.cart-modal table {
  border-collapse: collapse;
  font-size: 0.9rem;
}

.cart-modal caption {
  font-size: 1rem;
  font-weight: 700;
  text-align: inherit;
  margin-bottom: 0.6rem;
}

.cart-modal thead th {
  white-space: nowrap;
}

.cart-modal tbody th {
  font-weight: 400;

  max-width: 18rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.cart-modal tfoot > * {
  font-weight: 700;
}

.cart-modal th,
.cart-modal td {
  padding: 0.35rem 0.7rem;
}

.cart-modal button.remove {
  font-size: 0.8rem;
  font-weight: 700;
}
