.welcome {
  text-align: left;
  max-width: min(calc(100% - 36vw), 475px);
  min-height: calc(100vh - 68.19px - 153.25px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.4rem;
}

.welcome *.header {
  font-size: min(calc(0.8rem + 3.55vw), 3rem);
}

.welcome a {
  background-color: transparent;
  border: min(calc(4.5px + 0.15vw), 6px) solid var(--accent-home);
  border-radius: 6px;
  color: var(--accent-home);
  font-size: min(calc(0.75rem + 0.4vw), 1rem);
  font-weight: 700;
  text-transform: uppercase;
  padding:
    min(calc(0.5rem + 0.8vw), 1rem)
    min(calc(0.7rem + 1.12vw), 1.4rem)
    min(calc(0.55rem + 0.88vw), 1.1rem);

  display: grid;
  place-content: center;
}

.welcome a:hover {
  background-color: var(--accent-home);
  color: #f1abba;
}

div.background {
  background-image: url('../assets/background.jpg');
  background-origin: border-box;
  background-position: 61% top;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
