nav {
  position: sticky;
  top: 0;
  z-index: 2;
}

nav > .container {
  max-width: var(--max-width);
  padding: 1rem var(--padding-horiz);
  margin: var(--margin);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

nav a {
  font-weight: 500;
  align-self: baseline;
}

nav a:hover {
  text-decoration: underline;
}

nav div.product-links {
  text-transform: capitalize;
  display: flex;
  gap: 2rem;
  align-items: baseline;
}
