nav {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

nav a {
  align-self: baseline;
}

button.cart-btn {
  background-color: transparent;
  align-self: center;
}

.cart-btn svg {
  width: 1.8rem;
}