main .sort-by {
  margin-bottom: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  gap: 0.4rem;
}

.sort-by > select {
  -moz-appearance: none; 
  -webkit-appearance: none; 
  appearance: none;
  background: url('../assets/chevron-down.svg') no-repeat;
  background-color: white;
  background-position: right;

  font-family: inherit;
  border: 1px solid var(--gray-400);
  border-radius: 6px;
  padding: 0.3rem 1.85rem 0.4rem 0.55rem;
}


div.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  gap: 1.4rem;
  margin-bottom: 2.6rem;
}

.loader {
  width: min(calc(3.8rem + 4.25vw), 6rem);
  height: min(calc(3.8rem + 4.25vw), 6rem);
  position: fixed;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
  filter: drop-shadow(var(--shadow-2));
  z-index: 2;
}

.loader > path {
  fill: var(--accent-shop);
  transform-origin: center;
  animation: spinner_svv2 .75s infinite linear;
}

@keyframes spinner_svv2 {
  100% {
    transform: rotate(360deg);
  }
}
