#root {
  color: var(--gray-800);
  min-height: 100%;
  margin: var(--margin);
  text-align: center;
}

main {
  max-width: var(--max-width);
  margin: var(--margin);
  padding: 0 var(--padding-horiz);
  min-height: calc(100vh - 70.98px - 153.25px);
}
