div.error-page {
  /* height: 100vh;
  display: grid;
  place-content: center; */
  margin-top: 1rem;
}

.error-page a {
  color: var(--accent-shop);
}

.error-page a:hover {
  text-decoration: underline;
}
