:root {
  --font-stack: "Helvetica", "Arial", sans-serif;
  font-family: var(--font-stack);
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --transition: all 200ms ease-out;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: var(--transition);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

body {
  height: 100vh;
}

button {
  cursor: pointer;
  border: none;
  color: inherit;
  font-family: inherit;
}

h1 {
  font-size: 1.8rem;
}
